*{
	margin: 0;
	padding: 0;
}

body{
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.container{
	background: #555;
	/*background: url(http://lorempixel.com/400/400);*/
	color: #fff;
	width: 400px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	box-shadow: 0 0 0 10px #fff,
				0 0 0 11px gray; 
}

.container h1{
	text-align: center;
	text-shadow: 2px 2px 15px #fff;
}