*{
	margin: 0;
	padding: 0;
}

body{
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.container{
	background: #555;
	color: #fff;
	width: 400px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.container h1{
	text-align: center;
}